@media screen and (max-width: 960px) {
    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }

    html,
    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .main-content {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    #header1 {
        padding: 16px;
    }

    #header1 .menu-wrapper {
        display: inline-flex;
        align-items: center;
    }

    #header1 .logo-img {
        width: 80px;
    }

    #header1 nav {
        margin-left: 16px;
        column-gap: 12px;
    }

    #header1 nav a {
        font-size: 45%;
    }

    #header1 .register-wrapper .logo {
        display: none;
    }

    #header1 .register-wrapper button {
        padding: 8px 10px 6px;
        height: auto;
    }

    #one {
        min-height: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    #one .box.style2 {
        background: none;
    }

    .box.style2 {
        width: 100%;
    }

    #two {
        aspect-ratio: 1 / 1;
    }

    .navigation {
        position: initial;
        width: auto;
    }

    .navigation .navigation-button {
        width: 0;
    }

    .navigation .navigation-button::after {
        font-size: 36px;
    }

    .navigation-button-prev {}

    .navigation .navigation-button span {
        width: 0;
        height: 0;
    }

    .text-sec3 {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #six {
        height: auto !important;
        flex-direction: column;
        background: #e1cab8;
        padding-top: 64px;
    }

    .amenities-logo {
        width: 100px;
        top: -18px;
    }

    .Streetscape_image {
        height: auto;
        width: 98%;
        margin: 0;
        padding: 32px
    }

    .Streetscape_image::before,
    .Streetscape_image::after {
        border-width: 0 12px 12px 0;
        padding: 18px;
    }

    .amenities {
        width: 98%;
        max-width: unset;
        margin: 40px auto 0;
        align-items: center;
        padding-bottom: 40px;
    }

    .amenities img {
        width: 80%;
    }

    #seven {
        flex-direction: column;
        height: auto;
    }

    .left-section7 {
        display: none;
    }

    .invert-on-mobile {
        display: flex;
        flex-direction: column-reverse;
    }

    .s-sec2 {
        width: 48px;
    }

    .text-logo {
        left: 46px;
        bottom: 20px;
    }

    .right-section7 {
        flex: 1 1 0;
        padding-top: 56px;
        padding-bottom: 48px;
        align-items: center;
        row-gap: 24px;
    }

    .bags_family {
        width: 280px;
        margin-bottom: 16px;
    }

    .about {
        font-size: 13px;
    }

    .about.quiet4 {
        width: 250px;
        font-size: 16px;
    }

    .button {
        margin-right: 0;
        height: unset;
        padding: 12px 32px;
    }

    #eight {
        height: unset;
        padding: 0;
    }

    .your-life-in-focus {
        display: none;
    }

    #nine {
        flex-direction: column;
    }

    #nine .left-half {
        width: 100%;
        aspect-ratio: 1.8 / 1;
        background-position: center center;
    }

    .right-half h4 {
        margin-bottom: 12px;
    }

    #nine .parag3 {
        font-size: 100%;
        line-height: 1.2;
    }

    .par-form {
        width: 100%;
    }

    .div-flex {
        padding-right: 0 !important;
    }

    .div-flex label:first-child {
        display: block;
        width: 100%;
        line-height: 1.2;
        margin-bottom: 2px;
    }

    .Checkboxers {
        padding: 0;
        margin-bottom: 36px;
    }

    .form-button {
        height: auto !important;
        margin-top: -16px;
    }

    #ten {
        padding-top: 48px;
        flex-direction: column;
    }

    .alin10 {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .text10 {
        margin-right: 0;
        width: 270px;
        font-size: 130%;
        display: inline-flex;
        flex-direction: column;
        row-gap: 16px;
        padding: 0;
    }

    .text10 br {
        display: none;
    }

    .dev-button {
        width: auto;
    }

    .blue-text {
        width: 270px;
        font-size: 85%;
        line-height: 1.8;
        padding: 10px 0 48px;
    }

    #eleven {
        flex-direction: column;
        height: auto;
    }

    .right-section11 {
        border-width: 12px;
        padding: 32px 24px;
        row-gap: 16px;
    }

    .right-section11 p {
        font-size: 80%;
    }

    #footer {
        flex-direction: column;
        align-items: start;
        box-sizing: border-box;
        padding: 32px;
        row-gap: 50px;
    }

    #footer .footer-row {
        flex-direction: column;
        align-items: start;
        row-gap: 24px;
    }

    #footer .footer-row:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;
        row-gap: 20px;
    }

    .logo-fifth {
        width: 80px;
    }

    .logo2down {
        width: 180px;
    }

    .bl-dow {
        order: 1;
        grid-column: span 2;
    }

    .privacy {
        order: 2;
        grid-column: span 2;
        display: inline-flex;
        flex-direction: column;
        row-gap: 4px;
    }

    .privacy a {
        margin-left: 0;
    }

    .side-l {
        align-items: start;
        width: 100%;
    }

    .side-r {
        width: 100% !important;
        text-align: center;
    }

    .adress {
        padding: 0;
    }

    .menu-footer {
        display: flex;
    }

    .disclaimer {
        width: 100%;
        text-align: justify;
        font-size: 65%;
        margin: 0
    }

    #four {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 24px;
        height: auto !important;
        min-height: auto !important;
        padding: 48px 0 32px;
    }

    #four .location {
        text-align: center !important;
        width: 100%;
    }

    #menu {
        order: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    #menu a {
        font-size: 50%;
        line-height: 3;
    }

    #content4 {
        width: 100%;
        max-width: 100%;
        overflow: scroll;
    }

    #content4[data-mobile-zoom = "true"] > img {
        width: 200%;
        height: auto;
    }

    .textAmenitties {
        font-size: 28px;
        padding-left: 0;
    }

    #eight .swiper {
        aspect-ratio: initial;
        max-height: initial;
    }
}