@media screen and (max-width: 960px) {

    html,
    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .main-content {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    #header1 {
        padding: 16px;
    }

    #header1 .menu-wrapper {
        display: inline-flex;
        align-items: center;
    }

    #header1 .logo-img {
        width: 80px;
    }

    #header1 nav {
        margin-left: 16px;
        column-gap: 12px;
    }

    #header1 nav a {
        font-size: 45%;
    }

    #header1 .register-wrapper .logo {
        display: none;
    }

    #header1 .register-wrapper button {
        padding: 8px 10px 6px;
        height: auto;
    }

    .text_sec1 {
        width: auto;
        white-space: nowrap;
    }

    #one {
        min-height: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    #one .box.style2 {
        background: none;
    }

    .box.style2 {
        width: 100%;
    }

    #two {
        aspect-ratio: 1 / 1;
    }

    #two .navigation {
        left: 5%;
        bottom: 46px;
        right: unset;
        width: 135px;
    }

    #two .navigation-button::after {
        font-size: 21px;
    }

    #two .navigation-button-prev::after {
        transform: translateX(10px);
    }

    #two .navigation-button-next::after {
        transform: translateX(-10px);
    }

    #two .navigation-button span {
        height: 2px;
    }

    .text-sec3 {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #six {
        height: auto !important;
        flex-direction: column;
        background: #e1cab8;
        padding-top: 32px;
    }

    .amenities-logo {
        position: static;
        width: 100px
    }

    .Streetscape_image {
        height: auto;
        width: 98%;
        margin: 0;
    }

    .amenities {
        width: 98%;
        max-width: unset;
        margin: 40px auto 0;
        align-items: center;
        padding-bottom: 40px;
    }

    .amenities img {
        width: 80%;
    }

    #seven {
        flex-direction: column;
        height: auto;
    }

    .left-section7 {
        background-position: center bottom;
        flex: 400px;
        position: relative;
    }

    .s-sec2 {
        width: 48px;
    }

    .text-logo {
        left: 46px;
        bottom: 20px;
    }

    .right-section7 {
        flex: 1 1 0;
        padding-top: 56px;
        padding-bottom: 48px;
        align-items: center;
        row-gap: 24px;
    }

    .bags_family {
        width: 280px;
        margin-bottom: 16px;
    }

    .quiet4 {
        width: 250px;
        font-size: 100%;
    }

    .button {
        margin-right: 0;
        height: unset;
        padding: 12px 32px;
    }

    #eight {
        height: unset;
        padding-bottom: 38px;
    }

    .your-life-in-focus {
        column-gap: 0;
    }

    .your-life-in-focus img {
        width: 48px;
        ;
    }

    #nine {
        flex-direction: column;
    }

    #nine .left-half {
        width: 100%;
        aspect-ratio: 1.8 / 1;
        background-position: center center;
    }

    .right-half h4 {
        margin-bottom: 12px;
    }

    #nine .parag3 {
        font-size: 100%;
        line-height: 1.2;
    }

    .par-form {
        width: 100%;
    }

    .div-flex label:first-child {
        display: block;
        width: 100%;
        white-space: wrap !important;
        line-height: 1.2;
        margin-bottom: 2px;
    }

    .Checkboxers {
        padding: 0;
        margin-bottom: 36px;
    }

    .form-button {
        height: auto !important;
        margin-top: -16px;
    }

    #ten {
        padding-top: 48px;
        flex-direction: column;
    }

    .alin10 {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .text10 {
        margin-right: 0;
        width: 270px;
        font-size: 130%;
        display: inline-flex;
        flex-direction: column;
        row-gap: 16px;
        padding: 0;
    }

    .text10 br {
        display: none;
    }

    .dev-button {
        width: auto;
    }

    .blue-text {
        width: 270px;
        font-size: 85%;
        line-height: 1.8;
        padding: 32px 0 48px;
    }
}