@media screen and (max-width: 960px) {

    html,
    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .main-content {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    #header1 {
        padding: 16px;
    }

    #header1 .menu-wrapper {
        display: inline-flex;
        align-items: center;
    }

    #header1 .logo-img {
        width: 80px;
    }

    #header1 nav {
        margin-left: 16px;
        column-gap: 12px;
    }

    #header1 nav a {
        font-size: 45%;
    }

    #header1 .register-wrapper .logo {
        display: none;
    }

    #header1 .register-wrapper button {
        padding: 8px 10px 6px;
        height: auto;
    }

    .text_sec1 {
        width: auto;
        white-space: nowrap;
    }

    #one {
        min-height: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    #one .box.style2 {
        background: none;
    }

    .box.style2 {
        width: 100%;
    }

    #two {
        aspect-ratio: 1 / 1;
    }

    #two .navigation {
        left: 5%;
        bottom: 46px;
        right: unset;
        width: 135px;
    }

        #two .navigation-button::after {
            font-size: 21px;
        }

        #two .navigation-button-prev::after {
            transform: translateX(10px);
        }

        #two .navigation-button-next::after {
            transform: translateX(-10px);
        }

        #two .navigation-button span {
            height: 2px;
        }

    .text-sec3 {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #six {
        height: auto !important;
        flex-direction: column;
        background: #e1cab8;
        padding-top: 32px;
    }

        .amenities-logo {
            position: static;
            width: 100px
        }

        .Streetscape_image {
            height: auto;
            width: 98%;
            margin: 0;
        }

        .amenities {
            width: 98%;
            max-width: unset;
            margin: 40px auto 0;
            align-items: center;
            padding-bottom: 40px;
        }

    #eight {
        height: unset;
        padding-bottom: 38px;
    }

    .your-life-in-focus {
        column-gap: 0;
    }

    .your-life-in-focus img {
        width: 48px;
        ;
    }
}