@media (min-width: 9999px) {
    .logo-fifth {
        width: 6vw;
    }

    .disclaimer {
        width: 93vw;
    }

    .side-r {
        margin-right: 6vw;
    }

    .whiteSpace {
        white-space: nowrap;
    }
}

@media (max-width: 9998px) {
    .logo-fifth {
        width: 6vw;
    }

    .disclaimer {
        width: 93vw;
    }

    .side-r {
        margin-right: 6vw;
    }

    .whiteSpace {
        white-space: nowrap;
    }
}

@media(max-width:5140px) {
    .side-r {
        width: 26vw;
        margin-right: 4vw;
    }

    .whiteSpace {
        white-space: nowrap;
    }
}


@media(max-width:5140px) {
    .side-r {
        width: 26vw;
        margin-right: 4vw;
    }

    .whiteSpace {
        white-space: nowrap;
    }
}

@media screen and (min-width: 2090px) and (max-width: 13440px) and (min-height: 1080px) {

    #five {
        height: auto;
    }

    #tree {
        height: auto;
    }

    .logo-fifth {
        width: 6vw;
    }

    .disclaimer {
        width: 93vw;
    }

    .whiteSpace {
        white-space: nowrap;
    }
}


@media(max-width:3140px) {
    .side-r {
        width: 29vw;
        margin-right: 2vw;
    }

    .whiteSpace {
        white-space: nowrap;
    }
}

@media(max-width:1680px) {

    .side-center .lst {
        font-size: 1.8em;
        min-width: 13vw;
    }

    .logo-fifth {
        width: 6vw;
    }

    .disclaimer {
        width: 93vw;
    }

    .whiteSpace {
        white-space: nowrap;
    }
}

@media (max-width: 1436px) {
    .text_sec1 {
        margin-top: 37vh;
        margin-left: 16vw;
    }

    h3 {
        font-family: 'Beliau';
        font-size: 1.8em;
        margin-bottom: 1rem;
        font-weight: lighter;
        text-align: center;
        margin: 3%;
    }

    .whiteSpace {
        white-space: nowrap;
    }
}

@media (max-width: 1319px) {
    .text_sec1 {
        display: flex;
        width: 26vw;
        min-width: 250px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: flex-start;
        align-items: center;
        margin-top: 36vh;
        position: relative;
        margin-left: 10vw;
        line-height: normal;
    }

    .par-form {
        font-size: 1.1em;
        line-height: 2em;
    }


    .right-half {
        padding-left: 3em;
        padding-top: 2em;
        width: 57%;
        background-color: #be694b;
        font-family: 'Brinnan-Light';
        color: #ffffff;
        padding-right: 3em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .whiteSpace {
        white-space: wrap;
    }


}

@media (max-width: 1165px) {
    .text_sec1 {
        margin-top: 39vh;
        margin-left: 0vw;
    }

    #tree {
        min-height: 500px;
    }


    .header-vertical-line {
        left: 30vw;
    }

    #header nav {
        left: 33.5vw;
    }

    #intro {
        background-position: 32%;
    }

    /* footer */
    .disclaimer {
        width: 92vw;
    }

    .side-r {
        width: 37vw;
    }

    .whiteSpace {
        white-space: wrap;
    }

}


@media (max-width: 960px) {

    body {
        padding: 0;


    }

    .main.style1 {
        padding: 2px;
    }

    .header-vertical-line {
        display: none;
    }

    .logo {
        top: 0.1%;
        height: auto;
        position: fixed;
        right: 8%;
        width: 5% !important;
        min-width: 100px;
        padding: 4%;
    }

    .logo2 {
        padding: 5%;
        left: 0;
    }

    .text_sec1 {
        margin-left: 6vw;
        margin-top: 40%;
    }

    .icon-center {
        height: auto;
        width: 18%;
        position: relative;
        margin: 0%;
        padding-top: 54px;
        padding-bottom: 12px;
    }

    .text-sec3 {
        color: white;
        width: 54vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: normal;
    }

    .whiteSpace {
        white-space: wrap;
    }


    .quiet3 {
        line-height: 1.1em;
        text-align: center;
        margin-bottom: 10%;
        margin-top: 2%;
    }

    .main.style1 h2 {
        font-size: 4em;
        margin-top: 12vh;
    }

    .lifestyle {
        font-size: 2.4em;
    }

    .content {
        width: 61% !important;
    }

    .parag1 {
        margin-bottom: 0vh;
        margin-top: 8vh;
        font-family: 'Brinnan-Light';
        font-weight: lighter;
        font-size: 1.1em;
    }

    .box.style2 {
        padding: 1.5em 1.25em 1.5em 1.25em;
        background-color: rgb(11 27 48);
        margin-right: 6vw;
        margin-left: 6vw;

    }

    .main.style2 {
        padding: 0 15px 0 15px;
    }

    .bottom-left {
        display: none;
    }

    .mainMobile {
        display: flex;
        position: relative;
        margin: 0;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
    }

    .box.style3 {
        top: 2vh;
        margin-left: 7vw;
    }

    .main.style2.left.dark.fullscreen .box p {
        text-align: left;
        width: 82%;
        color: #0b1b30;
    }

    .texttoggle {
        margin-top: 4vh;
        margin-left: 0%;
        font-size: 0.7em;


    }

    .t-mobile {

        padding: 2px;
    }

    .split-section {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }


    .left-half {
        width: 100%;
        min-height: 34vh;
        background-position: 59%;
    }

    .right-half {
        padding-left: 2em;
        padding-top: 3em;
        width: 100%;
        padding-right: 2em;
    }

    .div-flex {
        display: flex !important;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .button {
        margin-right: 11%;
    }

    #four {
        height: 40vh !important;
        min-height: 20vh !important;
    }

    .bottom-half {
        padding: 80px;
    }

    .left-side {
        width: 90%;
        padding: 2em;
    }

    #five {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-side-bottom {
        flex-direction: column;
    }

    .map_image {
        width: 83vw;
    }

    #six {
        background: url(../../images/SCALI_ST1_13_Vignette_A_GIFT_R1_MOBILE.jpg);
        height: 40vh !important;
        min-height: 20vh !important;
        background-size: cover;
        background-attachment: scroll;
    }

    .Streetscape_image {
        height: 40vh;
        top: 48%;
        width: 100%;
        object-fit: cover;
    }

    .tree_frames {
        flex-direction: column;
        margin-left: 0;
    }

    .litle_frame {
        height: auto;
        width: 95%;
        padding: 1.2vw;
    }


    .text3 {
        bottom: 6%;
    }



    /* Estilos gerais do footer */
    #footer>* {
        margin: 0 0 0em 0;
    }

    #footer {
        display: flex;
        /* padding: 4px; */
        /* background-color: #0b1b30; */
        align-items: center;
        /* height: auto; */
        align-content: space-around;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }





    #privacy-modal2 {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5%;
        background-color: white;
        border: 1px solid #ccc;
        z-index: 1000;
        max-width: 80%;
        font-family: 'Brinnan-Light';
        color: #0b1b30;
        width: 81%;
        height: auto;
    }

    .side-center {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 70%;
        padding-bottom: 1em;
    }


    .side-center .bl-dow {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    /* .side-center .bl-dow {
            padding-left: 3vw;
        } */

    .side-center .lst {
        width: 183px;
    }

    .logo-fifth {
        left: 0;
        height: auto;
        width: 15vw;
        max-width: 358px;
        position: relative;
        top: 0;
        min-width: 14px;
        right: 0;
    }

    /* Estilos para o conteúdo do modal */
    #privacy-content {
        width: auto;
        margin: 0 auto;
        background-color: #fff;
        padding: 2px;
        border-radius: 8px;
        height: auto;
    }


    .container-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .container-icons img {
        margin: 0 10px;
    }

    .privacy {
        width: 100%;
        margin-bottom: 0em;
        bottom: 6px;
        position: relative;
        text-align: center;
    }

    .side-r {
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 84%;
        flex-wrap: nowrap;
        align-content: center;
        position: relative;
        top: 0%;
    }

    .side-l {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-top: 0%;
        padding-left: 0%;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .disclaimer {
        line-height: 1.40em;
        font-size: 0.7em;
        font-family: Brinnan-Light;
        color: #cdcdcd;
        width: 70vw;
        text-align: center;
    }



    .side-center .lst {
        font-size: 2em;
        padding-left: 0em;
        min-width: 163px;
        text-align: left;
        padding-left: 10px;
    }

    h3 {
        margin: 0%;
    }

    .menu-footer {
        display: none;
    }

    .logodown {
        display: none;
    }

    .logo2down {
        width: 95%;
        min-width: 100px;
        max-width: 956px;
        height: auto;
        position: relative;
        left: 0%;
        padding: 1px;
        margin-bottom: 0%;
        margin-top: 0%;
        margin-left: 0;
    }


    .adress {
        font-size: 1.35em;
        font-family: "Brinnan-Light";
        color: #ffffff;
        margin-left: 0px;
        margin-right: 0;
        margin-bottom: 0;
        width: 100%;
        height: 1%;
        text-align: center;
        position: relative;
        padding: 15px;
    }
}


@media (max-width: 770px) {


    body {
        padding: 0;


    }

    .main.style1 {
        padding: 2px;
    }

    .header-vertical-line {
        display: none;
    }

    .logo {
        top: 0.1%;
        height: auto;
        position: fixed;
        right: 8%;
        width: 5% !important;
        min-width: 100px;
        padding: 4%;
    }

    .logo2 {
        padding: 5%;
        left: 0;
    }

    .text_sec1 {
        margin-left: 6vw;
        margin-top: 40%;
    }

    .icon-center {
        height: auto;
        width: 18%;
        position: relative;
        margin: 0%;
        padding-top: 54px;
        padding-bottom: 12px;
    }

    .text-sec3 {
        color: white;
        width: 70vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: normal;
    }

    .whiteSpace {
        white-space: wrap;
        width: 56vw;
    }


    .quiet3 {
        line-height: 1.1em;
        text-align: center;
        margin-bottom: 10%;
        margin-top: 2%;
    }

    .main.style1 h2 {
        font-size: 4em;
        margin-top: 12vh;
    }

    .lifestyle {
        font-size: 2.4em;
    }

    .content {
        width: 61% !important;
    }

    .parag1 {
        margin-bottom: 0vh;
        margin-top: 8vh;
        font-family: 'Brinnan-Light';
        font-weight: lighter;
        font-size: 1.1em;
    }

    .box.style2 {
        padding: 1.5em 1.25em 1.5em 1.25em;
        background-color: rgb(11 27 48);
        margin-right: 6vw;
        margin-left: 6vw;

    }

    .main.style2 {
        padding: 0 15px 0 15px;
    }

    .bottom-left {
        display: none;
    }

    .mainMobile {
        display: flex;
        position: relative;
        margin: 0;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
    }

    .box.style3 {
        top: 2vh;
        margin-left: 7vw;
    }

    .main.style2.left.dark.fullscreen .box p {
        text-align: left;
        width: 82%;
        color: #0b1b30;
    }

    .texttoggle {
        margin-top: 4vh;
        margin-left: 0%;
        font-size: 0.7em;


    }

    .t-mobile {

        padding: 2px;
    }

    .split-section {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }


    .left-half {
        width: 100%;
        min-height: 34vh;
        background-position: 59%;
    }

    .right-half {
        padding-left: 2em;
        padding-top: 3em;
        width: 100%;
        padding-right: 2em;
    }

    .div-flex {
        display: flex !important;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .button {
        margin-right: 11%;
    }

    #four {
        height: 40vh !important;
        min-height: 20vh !important;
    }

    .bottom-half {
        padding: 80px;
    }

    .left-side {
        width: 90%;
        padding: 2em;
    }

    #five {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-side-bottom {
        flex-direction: column;
    }

    .map_image {
        width: 83vw;
    }

    #six {
        background: url(../../images/SCALI_ST1_13_Vignette_A_GIFT_R1_MOBILE.jpg);
        height: 40vh !important;
        min-height: 20vh !important;
        background-size: cover;
        background-attachment: scroll;
    }

    .Streetscape_image {
        height: 40vh;
        top: 48%;
        width: 100%;
        object-fit: cover;
    }

    .tree_frames {
        flex-direction: column;
        margin-left: 0;
    }

    .litle_frame {
        height: auto;
        width: 95%;
        padding: 1.2vw;
    }


    .text3 {
        bottom: 6%;
    }



    /* Estilos gerais do footer */
    #footer>* {
        margin: 0 0 0em 0;
    }

    #footer {
        display: flex;
        /* padding: 4px; */
        /* background-color: #0b1b30; */
        align-items: center;
        /* height: auto; */
        align-content: space-around;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }





    #privacy-modal2 {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5%;
        background-color: white;
        border: 1px solid #ccc;
        z-index: 1000;
        max-width: 80%;
        font-family: 'Brinnan-Light';
        color: #0b1b30;
        width: 81%;
        height: auto;
    }

    .side-center {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 70%;
        padding-bottom: 1em;
    }


    .side-center .bl-dow {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    /* .side-center .bl-dow {
        padding-left: 3vw;
    } */

    .side-center .lst {
        width: 183px;
    }

    .logo-fifth {
        left: 0;
        height: auto;
        width: 15vw;
        max-width: 358px;
        position: relative;
        top: 0;
        min-width: 14px;
        right: 0;
    }

    /* Estilos para o conteúdo do modal */
    #privacy-content {
        width: auto;
        margin: 0 auto;
        background-color: #fff;
        padding: 2px;
        border-radius: 8px;
        height: auto;
    }


    .container-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .container-icons img {
        margin: 0 10px;
    }

    .privacy {
        width: 100%;
        margin-bottom: 0em;
        bottom: 6px;
        position: relative;
        text-align: center;
    }

    .side-r {
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 84%;
        flex-wrap: nowrap;
        align-content: center;
        position: relative;
        top: 0%;
    }

    .side-l {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-top: 0%;
        padding-left: 0%;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .disclaimer {
        line-height: 1.40em;
        font-size: 0.7em;
        font-family: Brinnan-Light;
        color: #cdcdcd;
        width: 70vw;
        text-align: center;
    }



    .side-center .lst {
        font-size: 2em;
        padding-left: 0em;
        min-width: 163px;
        text-align: left;
        padding-left: 10px;
    }

    h3 {
        margin: 0%;
    }

    .menu-footer {
        display: none;
    }

    .logodown {
        display: none;
    }

    .logo2down {
        width: 95%;
        min-width: 100px;
        max-width: 956px;
        height: auto;
        position: relative;
        left: 0%;
        padding: 1px;
        margin-bottom: 0%;
        margin-top: 0%;
        margin-left: 0;
    }


    .adress {
        font-size: 1.35em;
        font-family: "Brinnan-Light";
        color: #ffffff;
        margin-left: 0px;
        margin-right: 0;
        margin-bottom: 0;
        width: 100%;
        height: 1%;
        text-align: center;
        position: relative;
        padding: 15px;
    }
}


@media (max-width: 640px) {


    body {
        padding: 0;


    }

    .main.style1 {
        padding: 2px;
    }

    .header-vertical-line {
        display: none;
    }

    .logo {
        top: 0.1%;
        height: auto;
        position: fixed;
        right: 8%;
        width: 5% !important;
        min-width: 100px;
        padding: 4%;
    }

    .logo2 {
        padding: 5%;
        left: 0;
    }

    .text_sec1 {
        margin-left: 6vw;
        margin-top: 40%;
    }

    .icon-center {
        height: auto;
        width: 18%;
        position: relative;
        margin: 0%;
        padding-top: 54px;
        padding-bottom: 12px;
    }

    .text-sec3 {
        color: white;
        width: 70vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: normal;
    }


    .quiet3 {
        line-height: 1.1em;
        text-align: center;
        margin-bottom: 10%;
        margin-top: 2%;
    }

    .whiteSpace {
        white-space: wrap;
        width: 56vw;
    }

    .main.style1 h2 {
        font-size: 4em;
        margin-top: 12vh;
    }

    .lifestyle {
        font-size: 2.4em;
    }

    .content {
        width: 61% !important;
    }

    .parag1 {
        margin-bottom: 0vh;
        margin-top: 8vh;
        font-family: 'Brinnan-Light';
        font-weight: lighter;
        font-size: 1.1em;
    }

    .box.style2 {
        padding: 1.5em 1.25em 1.5em 1.25em;
        background-color: rgb(11 27 48);
        margin-right: 6vw;
        margin-left: 6vw;

    }

    .main.style2 {
        padding: 0 15px 0 15px;
    }

    .bottom-left {
        display: none;
    }

    .mainMobile {
        display: flex;
        position: relative;
        margin: 0;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
    }

    .box.style3 {
        top: 2vh;
        margin-left: 7vw;
    }

    .main.style2.left.dark.fullscreen .box p {
        text-align: left;
        width: 82%;
        color: #0b1b30;
    }

    .texttoggle {
        margin-top: 4vh;
        margin-left: 0%;
        font-size: 0.7em;


    }

    .t-mobile {

        padding: 2px;
    }

    .split-section {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }


    .left-half {
        width: 100%;
        min-height: 34vh;
        background-position: 59%;
    }

    .right-half {
        padding-left: 2em;
        padding-top: 3em;
        width: 100%;
        padding-right: 2em;
    }

    .div-flex {
        display: flex !important;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .button {
        margin-right: 11%;
    }

    #four {
        height: 40vh !important;
        min-height: 20vh !important;
    }

    .bottom-half {
        padding: 80px;
    }

    .left-side {
        width: 90%;
        padding: 2em;
    }

    #five {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-side-bottom {
        flex-direction: column;
    }

    .map_image {
        width: 83vw;
    }

    #six {
        background: url(../../images/SCALI_ST1_13_Vignette_A_GIFT_R1_MOBILE.jpg);
        height: 40vh !important;
        min-height: 20vh !important;
        background-size: cover;
        background-attachment: scroll;
    }

    .Streetscape_image {
        height: 40vh;
        top: 48%;
        width: 100%;
        object-fit: cover;
    }

    .tree_frames {
        flex-direction: column;
        margin-left: 0;
    }

    .litle_frame {
        height: auto;
        width: 95%;
        padding: 1.2vw;
    }


    .text3 {
        bottom: 6%;
    }



    /* Estilos gerais do footer */
    #footer>* {
        margin: 0 0 0em 0;
    }

    #footer {
        display: flex;
        /* padding: 4px; */
        /* background-color: #0b1b30; */
        align-items: center;
        /* height: auto; */
        align-content: space-around;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }





    #privacy-modal2 {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5%;
        background-color: white;
        border: 1px solid #ccc;
        z-index: 1000;
        max-width: 80%;
        font-family: 'Brinnan-Light';
        color: #0b1b30;
        width: 81%;
        height: auto;
    }

    .side-center {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 70%;
        padding-bottom: 1em;
    }


    .side-center .bl-dow {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    /* .side-center .bl-dow {
        padding-left: 3vw;
    } */

    .side-center .lst {
        width: 183px;
    }

    .logo-fifth {
        left: 0;
        height: auto;
        width: 15vw;
        max-width: 358px;
        position: relative;
        top: 0;
        min-width: 14px;
        right: 0;
    }

    /* Estilos para o conteúdo do modal */
    #privacy-content {
        width: auto;
        margin: 0 auto;
        background-color: #fff;
        padding: 2px;
        border-radius: 8px;
        height: auto;
    }


    .container-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .container-icons img {
        margin: 0 10px;
    }

    .privacy {
        width: 100%;
        margin-bottom: 0em;
        bottom: 6px;
        position: relative;
        text-align: center;
    }

    .side-r {
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 84%;
        flex-wrap: nowrap;
        align-content: center;
        position: relative;
        top: 0%;
    }

    .side-l {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-top: 0%;
        padding-left: 0%;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .disclaimer {
        line-height: 1.40em;
        font-size: 0.7em;
        font-family: Brinnan-Light;
        color: #cdcdcd;
        width: 70vw;
        text-align: center;
    }



    .side-center .lst {
        font-size: 2em;
        padding-left: 0em;
        min-width: 163px;
        text-align: left;
        padding-left: 10px;
    }

    h3 {
        margin: 0%;
    }

    .menu-footer {
        display: none;
    }

    .logodown {
        display: none;
    }

    .logo2down {
        width: 95%;
        min-width: 100px;
        max-width: 956px;
        height: auto;
        position: relative;
        left: 0%;
        padding: 1px;
        margin-bottom: 0%;
        margin-top: 0%;
        margin-left: 0;
    }


    .adress {
        font-size: 1.35em;
        font-family: "Brinnan-Light";
        color: #ffffff;
        margin-left: 0px;
        margin-right: 0;
        margin-bottom: 0;
        width: 100%;
        height: 1%;
        text-align: center;
        position: relative;
        padding: 15px;
    }
}