@media (min-width: 9999px) {
    .disclaimer {
        width: 93vw;
    }

    .side-r {
        margin-right: 6vw;
    }
}

@media (max-width: 9998px) {
    .disclaimer {
        width: 93vw;
    }

    .side-r {
        margin-right: 6vw;
    }


}

@media(max-width:5140px) {
    .side-r {
        width: 26vw;
        margin-right: 4vw;
    }


}


@media(max-width:5140px) {
    .side-r {
        width: 26vw;
        margin-right: 4vw;
    }
}

@media(max-width:3140px) {
    .text_sec1 {
        margin-top: 14vh;
        margin-left: 1vw;
    }

    .main.style1 h2 {
        font-size: 4.5em;
    }

    .parag1 {
        font-size: 1.1em;
    }

}

@media(max-width:1680px) {

    .side-center .lst {
        font-size: 1.8em;
        min-width: 13vw;
    }

}

@media (max-width: 1436px) {
    .text_sec1 {
        margin-top: 9vh;
        margin-left: 2vw;
    }

    h3 {
        font-family: 'Beliau-Regular';
        font-size: 1.8em;
        margin-bottom: 1rem;
        font-weight: lighter;
        text-align: center;
        margin: 3%;
    }


}

@media (max-width: 1319px) {
    .text_sec1 {
        display: flex;
        position: relative;
        margin-left: 3vw;
        line-height: 0.9em;
        flex-wrap: nowrap;

    }

    .par-form {
        font-size: 1.1em;
        line-height: 2em;
    }


    .right-half {
        padding-left: 3em;
        padding-top: 2em;
        width: 57%;
        background-color: #be694b;
        font-family: 'Brinnan-Light';
        color: #ffffff;
        padding-right: 3em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .parag1 {
        font-size: 1em;

    }





}


@media (max-width: 1165px) {
    .text_sec1 {
        margin-top: 12vh;
        margin-left: 0vw;
    }



    .header-vertical-line {
        left: 30vw;
    }

    #header nav {
        left: 33.5vw;
    }

    #intro {
        background-position: 32%;
    }

    /* footer */
    .side-r {
        width: 37vw;
    }


}


@media (max-width: 960px) {

    body {
        padding: 0;


    }

    #intro {
        background: url("../../images/mobile/SCALI_14_Vignette_B.webp");
        background-size: cover;
        /* background-attachment: fixed, fixed; */
        background-position: left, bottom center;
        background-repeat: repeat, no-repeat;
        caret-color: transparent;
    }

    #six {
        background: url("../../images/mobile/SCALI_ST1_13_Vignette_A_GIFT_R1_MOBILE.webp");
        height: 40vh !important;
        min-height: 20vh !important;
        background-size: cover;

    }

    .left-half {
        width: 45%;
        height: auto;
        background: url("../../images/mobile/SCALI_ST1_02_Hero_Dusk_view_R1.webp) center/cover no-repea"t;
        background-position: 85% 25%;
    }

    .main.style1 {
        padding: 2px;
    }

    .header-vertical-line {
        display: none;
    }

    .logo {
        top: 0.1%;
        height: auto;
        position: fixed;
        right: 8%;
        width: 5% !important;
        min-width: 100px;
        padding: 4%;
    }

    .logo2 {
        padding: 5%;
        left: 0;
    }

    .text_sec1 {
        margin-left: 8vw;
        margin-top: 0vh;
    }

    .icon-center {
        height: auto;
        width: 30%;
        position: relative;
        margin: 0%;
        padding-top: 40px;
        padding-bottom: 17px;
    }

    .text-sec3 {
        color: white;
        width: 75vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: normal;
    }


    .quiet3 {
        line-height: 1.1em;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 2%;
    }

    .main.style1 h2 {
        font-size: 2.6em;
        margin-bottom: 16px;
    }

    .parag1 {
        margin-bottom: 0vh;
        margin-top: 0vh;
        font-family: 'Brinnan-Light';
        font-size: 0.78em;
        letter-spacing: normal;
    }

    .commin {
        font-size: 1em;
        white-space: wrap;
        width: 53vw;
    }

    .main.style2 {
        padding: 0 15px 0 15px;
    }

    .bottom-left {
        display: none;
    }

    .mainMobile {
        display: flex;
        position: relative;
        margin: 0;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
    }

    .popup {

        left: 50vw;
        padding: 19px;

    }

    .box.style3 {
        top: 2vh;
        margin-left: 7vw;
    }

    .main.style2.left.dark.fullscreen .box p {
        text-align: left;
        width: 82%;
        color: #0b1b30;
    }

    .texttoggle {
        margin-top: 4vh;
        margin-left: 0%;
        font-size: 0.7em;


    }

    .t-mobile {

        padding: 2px;
    }

    .split-section {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }




    .right-half {
        padding-left: 2em;
        padding-top: 3em;
        width: 100%;
        padding-right: 2em;
    }

    .div-flex {
        display: flex !important;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .button {
        margin-right: 11%;
    }

    #four {
        height: 40vh !important;
        min-height: 20vh !important;
    }

    .bottom-half {
        padding: 80px;
    }

    .left-side {
        width: 90%;
        padding: 2em;
    }

    #five {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-side-bottom {
        flex-direction: column;
    }

    .map_image {
        width: 83vw;
    }

    .tree_frames {
        flex-direction: column;
        margin-left: 0;
    }

    .litle_frame {
        height: auto;
        width: 95%;
        padding: 1.2vw;
    }


    .text3 {
        bottom: 6%;
    }



    #privacy-modal2 {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5%;
        background-color: white;
        border: 1px solid #ccc;
        z-index: 1000;
        max-width: 80%;
        font-family: 'Brinnan-Light';
        color: #0b1b30;
        width: 81%;
        height: auto;
    }

    .side-center {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 70%;
        padding-bottom: 1em;
    }


    .side-center .bl-dow {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    /* .side-center .bl-dow {
            padding-left: 3vw;
        } */

    .side-center .lst {
        width: 183px;
    }

    /* Estilos para o conteúdo do modal */
    #privacy-content {
        width: auto;
        margin: 0 auto;
        background-color: #fff;
        padding: 2px;
        border-radius: 8px;
        height: auto;
    }


    .container-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .container-icons img {
        margin: 0 10px;
    }

    .privacy {
        width: 100%;
        margin-bottom: 0em;
        bottom: 6px;
        position: relative;
        text-align: center;
    }

    .side-r {
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 84%;
        flex-wrap: nowrap;
        align-content: center;
        position: relative;
        top: 0%;
    }

    .side-l {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-top: 0%;
        padding-left: 0%;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .side-center .lst {
        font-size: 2em;
        padding-left: 0em;
        min-width: 163px;
        text-align: left;
        padding-left: 10px;
    }

    h3 {
        margin: 0%;
    }

    .menu-footer {
        display: none;
    }

    .logodown {
        display: none;
    }
}